body {
    font-size: 24px;
}
p.red {
    color:red;
}
p.green {
    color:green;
}
p.italic {
    font-style:italic;
}
p.bold {
    font-weight:bold;
}
li.blue {
    color:blue;
}
li.blue {
    color:green;
}
li.blue {
    color:red;
}